.header {
    color: rgb(255, 0, 0);
    border-bottom: 3px solid #32b9cd;
}

body {
    margin: 0;
    background-color: black;
    font-family: monospace;
}

.container {
    width: 80%;
    margin: auto;
}

.logo {
    width: 10%;
    height: auto;
    margin: 10 px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    width: 300px;
    align-items: center;
    color: #e3b062;
}

.agora {
    font-weight: 1000;
}